body {
    font-family: Arial, sans-serif;
    margin: 0;                     
    padding: 20px;                 
    background-color: #f4f4f4;     
}

.bloomburrow-title {
    text-align: center;
    color: white;
    font-size: 70px;
    text-transform: uppercase;     
}

.team-header {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.teamLogo {
    width: 100px; 
    height: auto; 
    filter: brightness(0) invert(1)
}

.bloomburrow-title {
    font-size: 74px;
    color: white;
}

.image-container {
    display: flex;                 
    flex-wrap: wrap;              
    justify-content: center;       
    margin-top: 20px;            
}

.image-container img {
    width: 350px;
    height: auto;                 
    margin: 10px; 
    border-radius: 5px;           
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}
.image-container img:hover {
    transform: scale(1.3); 
    z-index: 1;                    
}

.teamInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
