.set-header {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding-top: 70px;
}

.set-header img {
    height: 100px;
    filter: brightness(0) invert(1);
}

.set-title {
    text-align: center;
    color: white;
    text-transform: uppercase;    
    font-size: 74px;
}

.set-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-align: center;
}

.image-container {
    display: flex;                 
    flex-wrap: wrap;              
    justify-content: center;       
    margin-top: 20px;            
}

.image-container img {
    width: 350px;
    height: auto;                 
    margin: 10px; 
    border-radius: 5px;           
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.image-container img:hover {
    transform: scale(1.3); 
    z-index: 1;                    
}
